@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&family=Instrument+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap");
/*
$MAIN-DARK: #000000;
$MAIN-LIGHT: #f4f5ee;
$ACCENT-1: #ff0000;
$ACCENT-2: #7a7a7a;
$TEXT: #f4f5ee;
$TEXT-DARK: #000000;
$GRADIENT-COLOR-1: #ff000080;
$GRADIENT-COLOR-2: #ff000030;
$GRADIENT-GRAY-1: #ffffff80;
$GRADIENT-GRAY-2: #ffffff30;
$GRADIENT-BLACK-1: #000000c0;
$GRADIENT-BLACK-2: #00000030;
*/
html {
  scroll-behavior: smooth !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html * {
  margin: 0px;
}

body {
  background-color: #000000;
  color: #f4f5ee;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Instrument Sans", Verdana, Arial;
  font-weight: 400;
}

code {
  font-family: IBM Plex Mono, monospace;
}

.header {
  background-color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #000000), color-stop(12%, #000000c0), color-stop(70%, transparent));
  background: linear-gradient(#000000 3%, #000000c0 12%, transparent 70%);
  position: fixed;
  z-index: 2;
  width: 100vw;
}

.link:hover {
  cursor: pointer;
  opacity: 0.6;
}

a, Link {
  color: #00ff6a;
  text-decoration: none;
}

a:hover, Link:hover {
  opacity: 0.6;
}

button {
  background-color: #000000;
  font-weight: 300;
  color: #f4f5ee;
  border: 0;
  padding: 0.5rem 1rem;
  outline: 1px solid rgba(244, 245, 238, 0.5);
  border-radius: 10rem;
}

button:hover, button:active {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Rufina, sans-serif;
  font-weight: bold;
}

.slide-in-element {
  visibility: hidden;
}

.slide-in-active {
  visibility: visible;
  -webkit-animation-name: slide-in-anim;
          animation-name: slide-in-anim;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@-webkit-keyframes slide-in-anim {
  0% {
    -webkit-filter: blur(1px) opacity(0);
            filter: blur(1px) opacity(0);
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }
  100% {
    -webkit-filter: blur(0px) opacity(1);
            filter: blur(0px) opacity(1);
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes slide-in-anim {
  0% {
    -webkit-filter: blur(1px) opacity(0);
            filter: blur(1px) opacity(0);
    -webkit-transform: translate(-100%, 0%);
            transform: translate(-100%, 0%);
  }
  100% {
    -webkit-filter: blur(0px) opacity(1);
            filter: blur(0px) opacity(1);
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

.App {
  height: 100vh;
}

.open-top-menu {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-filter: opacity(0);
          filter: opacity(0);
  -webkit-animation-name: open-top-menu-anim;
          animation-name: open-top-menu-anim;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.open-top-menu:nth-child(1) {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
}

.open-top-menu:nth-child(2) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.open-top-menu:nth-child(3) {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.open-top-menu:nth-child(4) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

@-webkit-keyframes open-top-menu-anim {
  0% {
    -webkit-filter: opacity(0) blur(2px) brightness(0.1);
            filter: opacity(0) blur(2px) brightness(0.1);
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  100% {
    -webkit-filter: opacity(1) blur(0px) brightness(1);
            filter: opacity(1) blur(0px) brightness(1);
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    padding-left: 2rem;
  }
}

@keyframes open-top-menu-anim {
  0% {
    -webkit-filter: opacity(0) blur(2px) brightness(0.1);
            filter: opacity(0) blur(2px) brightness(0.1);
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  100% {
    -webkit-filter: opacity(1) blur(0px) brightness(1);
            filter: opacity(1) blur(0px) brightness(1);
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    padding-left: 2rem;
  }
}

.open-top-menu-container {
  -webkit-animation-name: open-top-menu-container-anim;
          animation-name: open-top-menu-container-anim;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  gap: 0.5rem;
}

@-webkit-keyframes open-top-menu-container-anim {
  0% {
    height: 0;
  }
  100% {
    height: 7.7rem;
  }
}

@keyframes open-top-menu-container-anim {
  0% {
    height: 0;
  }
  100% {
    height: 7.7rem;
  }
}

#top-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1.1rem 0 2rem;
  font-family: "Instrument Sans", Verdana, Arial;
  font-weight: lighter;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#top-navbar span {
  text-shadow: 3px 3px 4px #000000;
}

#top-navbar #top-navbar-home {
  color: #00ff6a;
}

#top-navbar-logo {
  width: 2rem;
  fill: #00ff6a;
}

#top-navbar-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
}

#top-navbar-small #top-navbar-small-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.2rem 0.5rem;
}

#top-navbar-small #top-navbar-small-btn:hover, #top-navbar-small #top-navbar-small-btn:active {
  cursor: pointer;
  border-radius: 10%;
  background-color: #f4f5ee;
}

#top-navbar-small #top-navbar-small-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 1;
  width: 100vw;
}

#top-navbar-small #top-navbar-small-menu .top-navbar-small-items {
  display: none;
}

#home-sections #projects-detail-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home-sections section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

#scroll-to-top {
  position: fixed;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 2rem;
  right: 3rem;
}

#scroll-to-top:hover button {
  outline-color: #00ff6a;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

#scroll-to-top:hover button i {
  -webkit-transform: translateY(-1rem) translateX(-0.2rem) scale(1.3) rotate(-10deg);
          transform: translateY(-1rem) translateX(-0.2rem) scale(1.3) rotate(-10deg);
}

#scroll-to-top button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4rem;
  height: 2rem;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

#scroll-to-top button i {
  font-size: 1.2rem;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

/* .scroll-top-to-remove {
  animation-name: disappear;
  animation-duration: 0.5s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
} */
.scroll-top-to-remove {
  -webkit-animation-name: disappear;
          animation-name: disappear;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#welcome-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #17223a80;
  background: url("https://images.unsplash.com/photo-1517782520350-a197eca44965?q=90&w=4015&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 50%;
  gap: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
}

#welcome-section #welcome-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  z-index: 1;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#welcome-section #welcome-content #welcome-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  z-index: 2;
  font-size: 1.5rem;
  margin: 0 1rem;
}

#welcome-section #welcome-content #welcome-text #welcome-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Rufina, sans-serif;
  font-weight: 900;
  font-size: 4rem;
  color: #00ff6a;
  text-shadow: 3px 2px 40px #00ff6280;
}

#welcome-section #welcome-content #welcome-text #welcome-frontend {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-style: italic;
  opacity: 0.7;
  font-size: 1rem;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  word-wrap: break-word;
}

#welcome-section #welcome-content #welcome-text * {
  gap: 0.5rem;
}

#welcome-section #welcome-content #welcome-image {
  font-size: initial;
  height: 6rem;
  border-radius: 1rem;
  z-index: 1;
  margin: 0 1rem;
  -webkit-filter: invert(0) blur(3px);
          filter: invert(0) blur(3px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation-name: slow-eight;
          animation-name: slow-eight;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
          animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes slow-eight {
  0% {
    -webkit-transform: translateX(0) translateY(0) rotateY(0) rotateZ(0);
            transform: translateX(0) translateY(0) rotateY(0) rotateZ(0);
  }
  13% {
    -webkit-transform: translateX(0.5rem) translateY(0.5rem) rotateZ(1deg);
            transform: translateX(0.5rem) translateY(0.5rem) rotateZ(1deg);
  }
  25% {
    -webkit-transform: translateX(1rem) translateY(0rem) rotateY(0.2turn) rotateZ(5deg);
            transform: translateX(1rem) translateY(0rem) rotateY(0.2turn) rotateZ(5deg);
  }
  38% {
    -webkit-transform: translateX(0.5rem) translateY(-0.5rem) rotateZ(-1deg);
            transform: translateX(0.5rem) translateY(-0.5rem) rotateZ(-1deg);
  }
  50% {
    -webkit-transform: translateX(0rem) translateY(0rem) rotateY(0.5turn) rotateZ(15deg);
            transform: translateX(0rem) translateY(0rem) rotateY(0.5turn) rotateZ(15deg);
  }
  63% {
    -webkit-transform: translateX(-0.5rem) translateY(0.5rem);
            transform: translateX(-0.5rem) translateY(0.5rem);
  }
  75% {
    -webkit-transform: translateX(-1rem) translateY(0rem) rotateY(-0.3turn) rotateZ(5deg);
            transform: translateX(-1rem) translateY(0rem) rotateY(-0.3turn) rotateZ(5deg);
  }
  88% {
    -webkit-transform: translateX(-0.5rem) translateY(-0.5rem) rotateZ(-2deg);
            transform: translateX(-0.5rem) translateY(-0.5rem) rotateZ(-2deg);
  }
  100% {
    -webkit-transform: translateX(0) translateY(0) rotateY(0) rotateZ(0deg);
            transform: translateX(0) translateY(0) rotateY(0) rotateZ(0deg);
  }
}

@keyframes slow-eight {
  0% {
    -webkit-transform: translateX(0) translateY(0) rotateY(0) rotateZ(0);
            transform: translateX(0) translateY(0) rotateY(0) rotateZ(0);
  }
  13% {
    -webkit-transform: translateX(0.5rem) translateY(0.5rem) rotateZ(1deg);
            transform: translateX(0.5rem) translateY(0.5rem) rotateZ(1deg);
  }
  25% {
    -webkit-transform: translateX(1rem) translateY(0rem) rotateY(0.2turn) rotateZ(5deg);
            transform: translateX(1rem) translateY(0rem) rotateY(0.2turn) rotateZ(5deg);
  }
  38% {
    -webkit-transform: translateX(0.5rem) translateY(-0.5rem) rotateZ(-1deg);
            transform: translateX(0.5rem) translateY(-0.5rem) rotateZ(-1deg);
  }
  50% {
    -webkit-transform: translateX(0rem) translateY(0rem) rotateY(0.5turn) rotateZ(15deg);
            transform: translateX(0rem) translateY(0rem) rotateY(0.5turn) rotateZ(15deg);
  }
  63% {
    -webkit-transform: translateX(-0.5rem) translateY(0.5rem);
            transform: translateX(-0.5rem) translateY(0.5rem);
  }
  75% {
    -webkit-transform: translateX(-1rem) translateY(0rem) rotateY(-0.3turn) rotateZ(5deg);
            transform: translateX(-1rem) translateY(0rem) rotateY(-0.3turn) rotateZ(5deg);
  }
  88% {
    -webkit-transform: translateX(-0.5rem) translateY(-0.5rem) rotateZ(-2deg);
            transform: translateX(-0.5rem) translateY(-0.5rem) rotateZ(-2deg);
  }
  100% {
    -webkit-transform: translateX(0) translateY(0) rotateY(0) rotateZ(0deg);
            transform: translateX(0) translateY(0) rotateY(0) rotateZ(0deg);
  }
}

#welcome-section #welcome-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  gap: 1rem;
  margin-top: 3rem;
}

#welcome-section #welcome-nav #welcome-nav-projects {
  font-family: IBM Plex Mono, monospace;
  background-color: #f4f5ee;
  color: #000000 !important;
  font-weight: bold;
  padding: 0.5rem 1.3rem;
  border-radius: 1.3rem;
  -webkit-animation-name: outline-breath;
          animation-name: outline-breath;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#welcome-section #welcome-nav #welcome-nav-projects:hover {
  cursor: pointer;
}

#welcome-section #welcome-nav #welcome-nav-readmore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.55;
  margin-top: 1rem;
}

#welcome-section #welcome-nav #welcome-nav-readmore #welcome-nav-readmore-arrow {
  font-size: 1.5rem;
  color: #00ff6a;
  margin-top: 1rem;
  -webkit-animation-name: arrow-bounce;
          animation-name: arrow-bounce;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#welcome-section #welcome-overlay {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000c0), color-stop(#000000c0), to(#000000));
  background: linear-gradient(#000000c0, #000000c0, #000000);
  opacity: 1;
  -o-object-fit: contain;
     object-fit: contain;
}

@-webkit-keyframes arrow-bounce {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(0.2rem);
            transform: translateY(0.2rem);
    opacity: 0;
  }
  70% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  100% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
    opacity: 0;
    -webkit-filter: blur(3px);
            filter: blur(3px);
  }
}

@keyframes arrow-bounce {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(0.2rem);
            transform: translateY(0.2rem);
    opacity: 0;
  }
  70% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  100% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
    opacity: 0;
    -webkit-filter: blur(3px);
            filter: blur(3px);
  }
}

#projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects-container #projects-header {
  opacity: 0.6;
  margin-bottom: 2rem;
  margin-top: 4rem;
  padding: 1rem 2rem;
  border: 1px solid #f4f5ee;
  font-size: large;
}

#projects-container #projects-area {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4rem 1fr 4rem;
      grid-template-columns: 4rem 1fr 4rem;
  -ms-grid-rows: 1fr 4rem;
      grid-template-rows: 1fr 4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 40rem;
  padding: 2rem 0;
}

#projects-container #projects-area #projects-bg {
  position: absolute;
  -ms-grid-column-align: start;
      justify-self: start;
  width: 100%;
  height: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: saturate(0.1);
          filter: saturate(0.1);
}

#projects-container #projects-area #projects-overlay {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 40rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #000000), color-stop(#000000c0), color-stop(#000000c0), color-stop(97%, #000000));
  background: linear-gradient(#000000 5%, #000000c0, #000000c0, #000000 97%);
  opacity: 1;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 0;
}

#projects-container #projects-area #projects-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

#projects-container #projects-area #projects-main-container .projects-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  width: 30%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: radial-gradient(10% #000000, #ffffff80, 70% transparent);
  -webkit-animation-name: sweep-right;
          animation-name: sweep-right;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#projects-container #projects-area #projects-main-container .projects-main:first-child {
  -webkit-animation-name: sweep-down;
          animation-name: sweep-down;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#projects-container #projects-area #projects-main-container .projects-main:last-child {
  -webkit-animation-name: sweep-up;
          animation-name: sweep-up;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@-webkit-keyframes sweep-up {
  0% {
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
    opacity: 0.2;
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes sweep-up {
  0% {
    -webkit-transform: translateY(10rem);
            transform: translateY(10rem);
    opacity: 0.2;
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes sweep-down {
  0% {
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
    opacity: 0.2;
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes sweep-down {
  0% {
    -webkit-transform: translateY(-10rem);
            transform: translateY(-10rem);
    opacity: 0.2;
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes sweep-right {
  0% {
    -webkit-transform: translateX(14rem);
            transform: translateX(14rem);
    opacity: 0.2;
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes sweep-right {
  0% {
    -webkit-transform: translateX(14rem);
            transform: translateX(14rem);
    opacity: 0.2;
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

#projects-container #projects-area #projects-main-container .projects-main * {
  position: relative;
}

#projects-container #projects-area #projects-main-container .projects-main .projects-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-top: 3rem;
}

#projects-container #projects-area #projects-main-container .projects-main .projects-header .projects-logo {
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-column: 2;
      grid-column-start: 2;
  width: 5rem;
}

#projects-container #projects-area #projects-main-container .projects-main .projects-header .projects-title {
  font-family: Rufina, sans-serif;
  color: #00ff6a;
  font-size: 3rem;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 2;
      grid-column-start: 2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: start;
}

#projects-container #projects-area #projects-main-container .projects-main .projects-desc {
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
  max-width: 13rem;
  text-align: start;
}

#projects-container #projects-area #projects-main-container .projects-main .projects-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  gap: 0.4rem;
}

#projects-container #projects-area #projects-main-container .projects-main .projects-visit {
  margin-top: 2rem;
  font-family: IBM Plex Mono, monospace;
  background-color: #f4f5ee;
  color: #000000 !important;
  font-weight: bold;
  padding: 0.5rem 1.3rem;
  border-radius: 1.3rem;
  -webkit-animation-name: outline-breath;
          animation-name: outline-breath;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#projects-container #projects-area #projects-main-container .projects-main .projects-visit:hover {
  cursor: pointer;
}

#projects-container #projects-area #projects-main-container .projects-main .projects-visit a {
  color: #000000;
}

#projects-container #projects-area #projects-main-container .projects-main .projects-readmore {
  opacity: 0.6;
  margin-top: 1.5rem;
}

#projects-container #projects-area #projects-main-container .projects-main .projects-readmore-arrow {
  margin: 0 !important;
  margin-top: -1rem !important;
  opacity: 0.6;
  font-size: 1.5rem;
  color: #00ff6a;
  margin-top: 1rem;
  -webkit-animation-name: arrow-bounce;
          animation-name: arrow-bounce;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#projects-container #projects-area .projects-arrow {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 1 !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#projects-container #projects-area .projects-arrow:hover {
  cursor: pointer;
}

#projects-container #projects-area #projects-next-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

#projects-container #projects-area #projects-prev-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

#projects-container #projects-area #projects-quicknav {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column: 3 span;
  -ms-grid-row: 2;
      grid-row-start: 2;
  z-index: 1;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 1rem;
}

#projects-container #projects-area #projects-quicknav .projects-quicknav-rect {
  background-color: #AAAAAA;
  width: 4rem;
  border-radius: 0.5rem;
  opacity: 0.5;
  outline: 0.5rem solid transparent;
  outline-offset: 0.5rem;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

#projects-container #projects-area #projects-quicknav .projects-quicknav-rect:hover, #projects-container #projects-area #projects-quicknav .projects-quicknav-rect:active {
  cursor: pointer;
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
  outline: 0.15rem solid #f4f5ee;
  outline-offset: 0rem;
}

.projects-main-hidden {
  display: none !important;
}

.projects-quicknav-rect-hover {
  outline: 0.15rem solid #f4f5ee !important;
  outline-offset: 0rem !important;
}

.outline-breath-class:hover {
  -webkit-animation-name: outline-breath;
          animation-name: outline-breath;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes outline-breath {
  0% {
    outline-width: 0.5rem;
    outline-offset: 0.5rem;
    outline-color: transparent;
  }
  50% {
    outline-width: 0.15rem;
    outline-offset: 0;
    outline-color: #f4f5ee;
  }
  100% {
    outline-width: 0.5rem;
    outline-offset: 0.5rem;
    outline-color: transparent;
  }
}

@keyframes outline-breath {
  0% {
    outline-width: 0.5rem;
    outline-offset: 0.5rem;
    outline-color: transparent;
  }
  50% {
    outline-width: 0.15rem;
    outline-offset: 0;
    outline-color: #f4f5ee;
  }
  100% {
    outline-width: 0.5rem;
    outline-offset: 0.5rem;
    outline-color: transparent;
  }
}

.projects-detail-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 3rem 0;
}

.projects-detail-main .projects-detail-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 80%;
  gap: 4rem;
}

.projects-detail-main .projects-detail-elements .projects-detail-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects-detail-main .projects-detail-elements .projects-detail-title-icon {
  margin-right: 0.3rem;
  color: lightgreen;
  text-align: center;
}

.projects-detail-main .projects-detail-elements section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.projects-detail-main .projects-detail-elements h3, .projects-detail-main .projects-detail-elements h4 {
  opacity: 0.5;
}

.projects-detail-main .projects-detail-elements .projects-detail-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.projects-detail-main .projects-detail-elements .projects-detail-tools .projects-detail-tools-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 1.2rem;
  width: 100%;
  margin-top: 0.5rem;
  font-size: smaller;
  font-weight: bold;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-detail-main .projects-detail-elements .projects-detail-tools .projects-detail-tools-elements .projects-detail-tools-logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.projects-detail-main .projects-detail-elements .projects-detail-tools .projects-detail-tools-elements .projects-detail-tools-logo-container .projects-detail-tools-logo {
  width: 1rem;
}

.projects-detail-main .projects-detail-elements .projects-detail-tools .projects-detail-tools-elements div:nth-child(1) span {
  background: radial-gradient(black, #ffee06) !important;
}

.projects-detail-main .projects-detail-elements .projects-detail-tools .projects-detail-tools-elements div:nth-child(2) span {
  background: radial-gradient(black, #06daff) !important;
}

.projects-detail-main .projects-detail-elements .projects-detail-tools .projects-detail-tools-elements div:nth-child(3) span {
  background: radial-gradient(black, #ea06ff) !important;
}

.projects-detail-main .projects-detail-elements .projects-detail-tools .projects-detail-tools-elements div:nth-child(4) span {
  background: radial-gradient(black, #068fff) !important;
}

.projects-detail-main .projects-detail-elements .projects-detail-tools .projects-detail-tools-elements span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 3rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 0 1rem;
  gap: 0.3rem;
  height: 2rem;
  background-color: #7a7a7a;
  border-radius: 1rem;
}

.projects-detail-main .projects-detail-elements .projects-detail-process .projects-detail-process-main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects-detail-main .projects-detail-elements .projects-detail-process .projects-detail-process-main .projects-detail-process-links {
  font-family: IBM Plex Mono, monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
  padding: 2rem;
  border: 1px solid lightgreen;
}

.projects-detail-main .projects-detail-elements .projects-detail-process .projects-detail-process-main .projects-detail-process-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: lightgreen;
}

.projects-detail-main .projects-detail-elements .projects-detail-process .projects-detail-process-main .projects-detail-process-links a img {
  padding: 0.6rem;
  width: 1rem;
  height: 1rem;
}

.projects-detail-main .projects-detail-elements .projects-detail-process .projects-detail-process-main .projects-detail-process-links a i {
  color: lightgreen;
  padding: 0.2rem;
}

#about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  padding-bottom: 2rem;
}

#about-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
  padding-top: 1.5rem;
}

#about-main * {
  text-align: left;
}

#about-main #about-header {
  display: block;
  text-align: center;
  opacity: 0.7;
  font-size: large;
  padding: 1rem 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem 0;
  border: 1px solid #f4f5ee;
}

#about-main #about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

#about-main #about-content div {
  gap: 0.5rem;
}

#about-main #about-content .about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

#about-main #about-content .about-section .about-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.4rem;
  opacity: 0.7;
  color: #00ff6a;
}

#about-main #about-content .about-section .about-icon {
  color: #00ff6a;
}

.footer {
  position: static;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  padding: 1rem 0;
  margin-top: 2rem;
  color: #f4f5ee;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, #00ff4c30), to(#00ff6280));
  background: linear-gradient(transparent, #00ff4c30 50%, #00ff6280);
  opacity: 0.7;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  gap: 1rem;
}

#footer-main #footer-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

#footer-main #footer-elements #footer-logo {
  width: 2.5rem;
}

#footer-main #footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  width: 60%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#footer-main #footer-links a {
  color: #f4f5ee;
}

.separator-h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  background-color: #f4f5ee;
  opacity: 0.6;
}

.separator-v {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1px;
  height: 100%;
  background-color: #f4f5ee;
  opacity: 0.6;
}

@media (max-width: 600px) {
  #top-navbar {
    display: none;
  }
  #top-navbar-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about-main {
    max-width: 100%;
    padding: 0 1rem;
  }
  #welcome-section {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #welcome-section #welcome-name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  #welcome-section #welcome-text {
    margin-left: 0.5rem;
  }
  #welcome-section #welcome-image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 30rem !important;
  }
}

@media (min-width: 1120px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #top-navbar {
    width: 60%;
  }
  #about-main {
    max-width: 60%;
    padding: 0 1rem;
  }
}
/*# sourceMappingURL=index.css.map */