
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&family=Instrument+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
/*
$MAIN-DARK: #000000;
$MAIN-LIGHT: #f4f5ee;
$ACCENT-1: #ff0000;
$ACCENT-2: #7a7a7a;
$TEXT: #f4f5ee;
$TEXT-DARK: #000000;
$GRADIENT-COLOR-1: #ff000080;
$GRADIENT-COLOR-2: #ff000030;
$GRADIENT-GRAY-1: #ffffff80;
$GRADIENT-GRAY-2: #ffffff30;
$GRADIENT-BLACK-1: #000000c0;
$GRADIENT-BLACK-2: #00000030;
*/

$MAIN-DARK: #000000;
$MAIN-LIGHT: #f4f5ee;
$ACCENT-1: #ff0000;
$ACCENT-2: #7a7a7a;
$TEXT: #f4f5ee;
$TEXT-DARK: #000000;
$GRADIENT-COLOR-1: #ff000080;
$GRADIENT-COLOR-2: #ff000030;
$GRADIENT-GRAY-1: #ffffff80;
$GRADIENT-GRAY-2: #ffffff30;
$GRADIENT-BLACK-1: #000000c0;
$GRADIENT-BLACK-2: #00000030;


$FONT-NORMAL: 'Instrument Sans', Verdana, Arial;
$FONT-SERIF: Rufina, sans-serif;
$FONT-MONO: IBM Plex Mono, monospace;

html, body {
  //scroll-snap-type: y mandatory;
}

html {

  scroll-behavior: smooth !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  * {
    margin: 0px;
  }
}

body {
  background-color: $MAIN-DARK;
  color: $TEXT;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $FONT-NORMAL;
  font-weight: 400;
  }
  
  code {
    font-family: $FONT-MONO;
  }
  

.header {
  background-color: transparent;
  background: linear-gradient($MAIN-DARK 3%, $GRADIENT-BLACK-1 12%,transparent 70%);
  position: fixed;
  z-index: 2;
  width: 100vw;
}

.link {
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

a, Link {
  color: $ACCENT-1;
  text-decoration: none;
  &:hover {
    opacity: 0.6;
  }
}

button {
  //background: linear-gradient(90deg, $GRADIENT-GRAY-2, $ACCENT-1) ;
  background-color: $TEXT-DARK;
  font-weight: 300;
  color: $TEXT;
  border: 0;
  padding: 0.5rem 1rem;
  outline: 1px solid rgba($color: $MAIN-LIGHT, $alpha: 0.5);
  border-radius: 10rem;

  &:hover , &:active {
    cursor: pointer;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $FONT-SERIF;
  font-weight: bold;
}

@mixin big-button {
  font-family: $FONT-MONO;
  background-color: $MAIN-LIGHT;
  color: $MAIN-DARK !important;
  font-weight: bold;
  padding: 0.5rem 1.3rem;
  border-radius: 1.3rem;
  
  animation-name: outline-breath;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &:hover {
    cursor: pointer;
  }
}

@mixin read-more-arrow {
  font-size: 1.5rem;
  color: $ACCENT-1;
  margin-top: 1rem;
  animation-name: arrow-bounce;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

// Slide in animation
.slide-in-element {
  visibility: hidden;
}

.slide-in-active {
  visibility: visible;
  animation-name: slide-in-anim;
  animation-duration: 0.5s;
}

@keyframes slide-in-anim {
  0% {
    filter: blur(1px) opacity(0);
    transform: translate(-100%, 0%);
  }
  100% {
    filter: blur(0px) opacity(1);
    transform: translate(0%, 0%);
  }
}

.App {
  height: 100vh;
}

// Open hamburger menu Animation
.open-top-menu {
  display: flex !important;
  filter: opacity(0);
  animation-name: open-top-menu-anim;
  animation-duration: 500ms;
  animation-fill-mode: forwards;

  &:nth-child(1) {
    animation-delay: 50ms;
  }
  &:nth-child(2) {
    animation-delay: 100ms;
  }
  &:nth-child(3) {
    animation-delay: 150ms;
  }
  &:nth-child(4) {
    animation-delay: 200ms;
  }

}

@keyframes open-top-menu-anim {
  0% {
    //filter: opacity(0);
    filter: opacity(0) blur(2px) brightness(0.1);
    transform: translateX(-20%);
  }
  //25% {
  //  height: 2rem;
  //}
  //50% {
  //  filter: blur(4px);
  //}
  //75% {
  //  height: 6rem;
  //}
  100% {
    filter: opacity(1) blur(0px) brightness(1);
    transform: translateX(0%);
    padding-left: 2rem;
  }
}

.open-top-menu-container {
  animation-name: open-top-menu-container-anim;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  gap: 0.5rem;
}

@keyframes open-top-menu-container-anim {
  0% {
    height: 0;
  }
  100% {
    height: 7.7rem;
  }
}


#top-navbar {
    display: flex;
    justify-content: space-around;
    padding: 1.1rem 0 2rem;
    font-family: $FONT-NORMAL;
    font-weight: lighter;
    align-items: center;


  #top-navbar-home {
    color: $ACCENT-1;
  }
}

#top-navbar-logo {
  width: 2rem;
  //filter: brightness(0) saturate(100%) invert(18%) sepia(94%) saturate(4910%) hue-rotate(355deg) brightness(105%) contrast(122%);
  fill: $ACCENT-1;
}

#top-navbar-small {

  display: flex;
  display: none;
  flex-direction: row;
  position: sticky;
  z-index: 1;

  #top-navbar-small-head {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 0.5rem;
  }

  #top-navbar-small-btn {

    &:hover, &:active {
      cursor: pointer;
      border-radius: 10%;
      background-color: $MAIN-LIGHT;
    }
  }

  #top-navbar-small-menu {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: 100vw;
  
    .top-navbar-small-items {
      display: none;
    }
  
  }
}

@mixin text-bg-gradient {
  background: linear-gradient(transparent, $GRADIENT-GRAY-2);
}

@mixin radial-color-gradient {
  background: radial-gradient($GRADIENT-COLOR-1, $GRADIENT-COLOR-2, transparent);
}

// HOME-SECTIONS ARE HERE /////////////////////////////////////////////////////////
#home-sections {
  #projects-detail-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}

#welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: #17223a80;
  background: url("https://images.unsplash.com/photo-1517782520350-a197eca44965?q=90&w=4015&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 50%;
  gap: 2rem;
  flex-direction: column;
  padding-top: 2rem;

  #welcome-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 1;
    transform-style: preserve-3d;

    #welcome-text {
      display: flex;
      flex-direction: column;
      text-align: left;
      z-index: 2;
      font-size: 1.5rem;
      //row-gap: 0.3rem;
      margin: 0 1rem;

      #welcome-name {
        display: flex;
        font-family: $FONT-SERIF;
        font-weight: 900;
        font-size: 4rem;
        color: $ACCENT-1;
        //background: rgb(34, 0, 185);
        //@include radial-color-gradient;
      }

      #welcome-frontend {
        width: fit-content;
        font-style: italic;
        opacity: 0.7;
        font-size: 1rem;
        order: 4;
        word-wrap: break-word;
        //@include text-bg-gradient;

      }

      * {
        gap: 0.5rem;
      }
    }
    #welcome-image {
      font-size: initial;
      height: 6rem;
      border-radius: 1rem;
      z-index: 1;
      margin: 0 1rem;
      filter: invert(0) blur(3px);
      transform-style: preserve-3d;
      //backface-visibility: hidden;

      animation-name: slow-eight;
      animation-duration: 18s;
      animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
      //animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }

  @keyframes slow-eight {
    0% {
      transform:
      translateX(0)
      translateY(0)
      rotateY(0)
      rotateZ(0)
      ;
    }
    13% {
      transform:
      translateX(0.5rem)
      translateY(0.5rem)
      rotateZ(1deg)
      ;
    }
    25% {
      transform:
      translateX(1rem)
      translateY(0rem)
      rotateY(0.2turn)
      rotateZ(5deg)

      ;
    }
    38% {
      transform:
      translateX(0.5rem)
      translateY(-0.5rem)
      rotateZ(-1deg)
      ;
    }
    50% {
      transform:
      translateX(0rem)
      translateY(0rem)
      rotateY(0.5turn)
      rotateZ(15deg)
      ;
    }
    63% {
      transform:
      translateX(-0.5rem)
      translateY(0.5rem)
      ;
    }
    75% {
      transform:
      translateX(-1rem)
      translateY(0rem)
      rotateY(-0.3turn)
      rotateZ(5deg)
      ;
    }
    88% {
      transform:
      translateX(-0.5rem)
      translateY(-0.5rem)
      rotateZ(-2deg)
      ;
    }
    100% {
      transform:
      translateX(0)
      translateY(0)
      rotateY(0)
      rotateZ(0deg)
      ;
    }
  }

  #welcome-nav {
    display: flex;
    flex-direction: column;
    z-index: 1;
    gap: 1rem;
    margin-top: 3rem;

    #welcome-nav-projects {
      @include big-button;
    }
    #welcome-nav-readmore {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0.55;
      margin-top: 1rem;

      #welcome-nav-readmore-text {
        //@include text-bg-gradient()
      }
      
      #welcome-nav-readmore-arrow {
        @include read-more-arrow
      }
    }
  }

  #welcome-overlay {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient($GRADIENT-BLACK-1, $GRADIENT-BLACK-1, $MAIN-DARK);
    opacity: 1;
    object-fit: contain;
  }
}

@keyframes arrow-bounce {
  0% {
    transform: translateY(0rem);
    opacity: 0;
  }
  20% {
    transform: translateY(0.2rem);
    opacity: 0;
  }
  70% {
    transform: translateY(2rem);
    opacity: 1;
    
  }
  80% {
    transform: translateY(2rem);
    opacity: 1;
    filter: blur(0);
  }
  100% {
    transform: translateY(2rem);
    opacity: 0;
    filter: blur(3px);
  }
}

#projects-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;

  #projects-header {
    display: none;
    opacity: 0.4;
    transform: scaleX(1.6);
    margin-bottom: 2rem;
  }

  #projects-area {

    $projects-area-height: 40rem;

    position: relative;
    display: grid;

    grid-template-columns: 4rem 1fr 4rem;
    grid-template-rows: 1fr 4rem;

    flex-direction: column;
    width: 100%;
    height: $projects-area-height;
    padding: 2rem 0;
    //align-items: center;

    #projects-bg {
      position: absolute;
      justify-self: start;
      width: 100%;
      height: $projects-area-height;
      object-fit: cover;
      filter: saturate(0.1);
    }

    #projects-overlay {
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: $projects-area-height;
      background: linear-gradient($MAIN-DARK 5%, $GRADIENT-BLACK-1, $GRADIENT-BLACK-1, $MAIN-DARK 97%);
      opacity: 1;
      object-fit: contain;
    }

    
    #projects-main-container {
      //position: absolute;
      display: flex;
      flex-direction: column;
      //width: 100%;
      //height: 100%;
      align-items: center;
      
      grid-column-start: 2;
      grid-row-start: 1;

      .projects-main {

        display: flex;
        flex-direction: column;
        align-items: center !important;
        justify-content: center;
        gap: 0.5rem;
        
        width: 30%;
        height: 100%;
  
        justify-content: center;
        align-items: center;

        background: radial-gradient(10% $TEXT-DARK, $GRADIENT-GRAY-1, 70% transparent);

        $anim-base-duration: 400ms;

        animation-name: sweep-right;
        animation-duration: $anim-base-duration;
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &:first-child {
          animation-name: sweep-down;
          animation-duration: $anim-base-duration;
          animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        &:last-child {
          animation-name: sweep-up;
          animation-duration: $anim-base-duration;
          animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        @keyframes sweep-up {
          0% {
            transform: translateY(10rem);
            opacity: 0.2;
            filter: blur(4px);
          }
          100% {
            transform: translateY(0);
            opacity: 1;
          }
        }

        @keyframes sweep-down {
          0% {
            transform: translateY(-10rem);
            opacity: 0.2;
            filter: blur(4px);
          }
          100% {
            transform: translateY(0);
            opacity: 1;
          }
        }

        @keyframes sweep-right {
          0% {
            transform: translateX(14rem);
            opacity: 0.2;
            filter: blur(4px);
          }
          100% {
            transform: translateY(0);
            opacity: 1;
          }
        }
  
        * {
          position: relative;
        }
        
        .projects-header {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          margin-top: 3rem;

          .projects-logo {
            grid-row-start: 2;
            grid-column-start: 2;
    
            width: 5rem;
          }
  
          .projects-title {
            font-family: $FONT-SERIF;
            color: $ACCENT-1;
            font-size: 3rem;
            
            grid-row-start: 1;
            grid-column-start: 2;
    
            width: fit-content;
            text-align: start;
          }
        }



        .projects-desc {
          grid-row-start: 3;
          grid-column-start: 2;
          max-width: 13rem;

          text-align: start;

        }

        .projects-links {
          display: flex;
          margin-top: 1rem;
          gap: 0.4rem;
        }

        .projects-visit {
          margin-top: 2rem;

          @include big-button;
          
          a {
            color: $TEXT-DARK;
          }
        }

        .projects-readmore {
          opacity: 0.6;
          margin-top: 1.5rem;
        }

        .projects-readmore-arrow {
          margin: 0 !important;
          margin-top: -1rem !important;
          opacity: 0.6;
          @include read-more-arrow
        }

      }
    }



    .projects-arrow {
      justify-self: center;
      align-self: center;
      z-index: 1 !important;

      &:hover {
        cursor: pointer;
      }
    }

    #projects-next-arrow {
      grid-column-start: 3;
      grid-row-start: 1;
    }

    #projects-prev-arrow {
      grid-column-start: 1;
      grid-row-start: 1;
    }
    
    #projects-quicknav {
      grid-column-start: 1;
      grid-column: 3 span;
      grid-row-start: 2;
      z-index: 1;
      justify-self: center;
      align-self: center;

      display: flex;
      justify-content: center;
      gap: 1rem;
      width: 100%;
      height: 1rem;

      .projects-quicknav-rect {
        background-color: #AAAAAA;
        width: 4rem;
        border-radius: 0.5rem;
        opacity: 0.5;
        outline: 0.5rem solid transparent;
        outline-offset: 0.5rem;
        
        transition: all 300ms ease-in;

        &:hover, &:active {
          cursor: pointer;
          transform: scaleX(1.2);
          outline: 0.15rem solid $TEXT;
          outline-offset: 0rem;
        }
      }
    }
  }
}

.projects-main-hidden {
  display: none !important;
}

.projects-quicknav-rect-hover {
  outline: 0.15rem solid $TEXT !important;
  outline-offset: 0rem !important;
}

.outline-breath-class {
  &:hover {
    animation-name: outline-breath;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
}

@keyframes outline-breath {
  0% {
    outline-width: 0.5rem;
    outline-offset: 0.5rem;
    outline-color: transparent;
  }
  50% {
    outline-width: 0.15rem;
    outline-offset: 0;
    outline-color: $TEXT;
  }
  100% {
    outline-width: 0.5rem;
    outline-offset: 0.5rem;
    outline-color: transparent;
  }
}

#projects-detail-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;

  height: max-content;
  padding: 3rem 0;

  .projects-detail-elements {
    display: flex;
    flex-direction: column;
    //gap: 1rem;
    max-width: 80%;
    gap: 3rem;
    
    .projects-detail-title {
      display: flex;
    }

    .projects-detail-title-icon {
      margin-right: 0.3rem;
      color: lightgreen;
      text-align: center;
    }




    
    section {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    
    h3, h4 {
      opacity: 0.5;
    }

    .projects-detail-tools {
      display: flex;
      align-items: start;

      .projects-detail-tools-elements {
        display: flex;
        justify-content: start;
        gap: 2rem;
        width: 100%;
        margin-top: 0.5rem;
        font-size: smaller;
        font-weight: bold;
        flex-wrap: wrap;

        // Logos for Used Tools
        .projects-detail-tools-logo-container {
          display: flex;
          align-items: center;
          gap: 1rem;

          .projects-detail-tools-logo {
            width: 1rem;
          }
        }

        div:nth-child(1) {
          span {
            background: radial-gradient(black, #ffee06) !important;
          }
        }
        div:nth-child(2) {
          span {
            background: radial-gradient(black, #06daff) !important;
          }
        }
        div:nth-child(3) {
          span {
            background: radial-gradient(black, #ea06ff) !important;
          }
        }
        div:nth-child(4) {
          span {
            background: radial-gradient(black, #068fff) !important;
          }
        }

        span {
          display: flex;
          justify-content: center;
          align-items: center;

          min-width: 3rem;
          max-width: fit-content;
          padding: 0 1rem;
          gap: 0.3rem;
          height: 2rem;
          background-color: $ACCENT-2;
          border-radius: 1rem;
        }
      }
    }

    .projects-detail-process {

      .projects-detail-process-main {
        //display: flex;
        flex-direction: column;
        //justify-content: center;
        //align-items: center;

        .projects-detail-process-links {
          font-family: $FONT-MONO;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          margin-top: 4rem;
          padding: 2rem;
          border: 1px solid lightgreen;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            color: lightgreen;

            img {
              padding: 0.6rem;
              width: 1rem;
              height: 1rem;
            }

            i {
              color: lightgreen;
              padding: 0.2rem;
              //width: 1rem;
            }
          }
        }
      }


    }
  }

}

#about-container {
  display: flex;
  justify-content: center;
  height: fit-content !important;
  padding-bottom: 2rem;
}

#about-main {
  display: flex;
  max-width: 80%;
  justify-content: center;
  padding: 0rem;

  flex-direction: column;
  justify-content: center;
  padding-top: 1.5rem;
  

  * {
    text-align: left;
  }

  #about-header {
    display: block;
    text-align: center;
    opacity: 0.7;
    font-size: larger;
    padding: 1rem 2rem;
    align-self: center;
    width: fit-content;
    margin: 2rem 0;
    border: 1px solid $MAIN-LIGHT;
    //border-radius: 1rem;
  }
  
  #about-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    div {
      gap: 0.5rem;
    }
    
    .about-section {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .about-title {
        display: flex;
        gap: 0.4rem;
        opacity: 0.7;
        color: $ACCENT-1;
      }

      .about-icon {
        color: $ACCENT-1;
      }
    }
  }


}

.footer {
  position: static;
  bottom: 0;
  display: flex;
  width: 100vw;
  padding: 1rem 0;
  margin-top: 2rem;
  color: $TEXT;
  background: linear-gradient(transparent, $GRADIENT-COLOR-2 50%, $GRADIENT-COLOR-1, $ACCENT-1);
  opacity: 0.7;
  justify-content: center;
}

@media (max-width: 600px) {

  #top-navbar {
    display: none;
  }

  #top-navbar-small {
    display: flex;
    flex-direction: column;
  }

  #about-main {
    max-width: 100%;
    padding: 0 1rem;
  }

  #welcome-section {
    height: 100vh;
    flex-direction: column;


    #welcome-name {
      flex-direction: column;
      height: min-content;
    }

    #welcome-text {
      margin-left: 0.5rem;
    }

    #welcome-image {
      order: -1;
      width: 30rem !important;
    }
  }
}

@media (min-width: 1120px) {
  
  .header {
    display: flex;
    justify-content: center !important;
  }

  #top-navbar {
    width: 60%;
    
  }

  #about-main {
    max-width: 60%;
    padding: 0 1rem;
  }
}